import("methods")
import("ggplot2")
import("FLCore")
importFrom("grDevices",
  "colorRampPalette")
importFrom("stats",
  "as.formula",
  "reshape",
  "na.omit")
importFrom("utils",
  "data")
importFrom("rlang",
  ".data")
importFrom("grid",
  "grid.draw")
importFrom("gridExtra",
  "arrangeGrob",
  "grid.arrange")
importFrom("rlang",
  "quo_name")
importFrom("scales",
  "comma")
exportMethods(
  "%+%",
  "ggplot",
  "cohcorrplot",
  "plot")
export(
  "eqlabel",
  "flpalette",
  "flpalette_colours",
  "flpalette_grads",
  "human_numbers",
  "label_flqs",
  "modlabel",
  "scale_fill_flr",
  "scale_colour_flr",
  "stat_flquantiles",
  "geom_flquantiles")
