import("methods")
import("FLCore")
import("ggplot2")
import("gridExtra")
importFrom("reshape2",
	"dcast")
importFrom("plyr",
  "is.formula")
exportMethods(
  "ggplot",
  "plot")
export(
  "eqlabel",
  "modlabel")
